[Desktop Entry]
Exec=aotsmile
Icon=aotsmile
Terminal=false
Type=Application
Encoding=UTF-8
OnlyShowIn=KDE;
Categories=Game;
StartupNotify=false
Name=Adventure Of The Smile
Comment=Arcade Smiley Shooter
GenericName=Adventure Of The Smile
Name[en_US]=Adventure Of The Smile
